/Source
*.suo
README.org~
/RateThatKhutba/bin
/SourceVS2010/RateThatKhutba/bin/RateThatKhutba.*
*/obj/
*_ReSharper*
*/bin/*
*/Bin/*
*.user
*/obj/*
/SourceVS2010/Cordova1/Bin/Debug/AppManifest.xaml
/SourceVS2010/Cordova1/Bin/Debug/ApplicationIcon.png
/SourceVS2010/Cordova1/Bin/Debug/Background.png
/SourceVS2010/Cordova1/Bin/Debug/Cordova1.1.0.0.0.nupkg
/SourceVS2010/Cordova1/Bin/Debug/Cordova1.1.0.0.0.symbols.nupkg
/SourceVS2010/Cordova1/Bin/Debug/Cordova1.dll
/SourceVS2010/Cordova1/Bin/Debug/Cordova1.pdb
/SourceVS2010/Cordova1/Bin/Debug/Cordova1.xap
/SourceVS2010/Cordova1/Bin/Debug/WMAppManifest.xml
/SourceVS2010/Cordova1/Bin/Debug/WP7CordovaClassLib.dll
/SourceVS2010/Cordova1/obj/Debug/App.g.cs
/SourceVS2010/Cordova1/obj/Debug/App.g.i.cs
/SourceVS2010/Cordova1/obj/Debug/Cordova1.csproj.FileListAbsolute.txt
/SourceVS2010/Cordova1/obj/Debug/Cordova1.csprojResolveAssemblyReference.cache
/SourceVS2010/Cordova1/obj/Debug/Cordova1.dll
/SourceVS2010/Cordova1/obj/Debug/Cordova1.g.resources
/SourceVS2010/Cordova1/obj/Debug/Cordova1.pdb
/SourceVS2010/Cordova1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SourceVS2010/Cordova1/obj/Debug/MainPage.g.cs
/SourceVS2010/Cordova1/obj/Debug/MainPage.g.i.cs
/SourceVS2010/Cordova1/obj/Debug/XapCacheFile.xml
/SourceVS2010/NugetScriptReferences/bin/NugetScriptReferences.dll
/SourceVS2010/NugetScriptReferences/bin/NugetScriptReferences.pdb
/SourceVS2010/NugetScriptReferences/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SourceVS2010/NugetScriptReferences/obj/Debug/NugetScriptReferences.csproj.FileListAbsolute.txt
/SourceVS2010/NugetScriptReferences/obj/Debug/NugetScriptReferences.dll
/SourceVS2010/NugetScriptReferences/obj/Debug/NugetScriptReferences.pdb
/SourceVS2010/Cordova1/www.zip
/ChangeLog.org~
/SourceVS2010/Cordova1/www/scripts/jsConfigLive.js
*.cache